Q1. What is a database? Differentiate between SQL and NoSQL databases.

The Database is an essential part of our life. As we encounter several activities that involve our interaction with databases, for example in the bank, in the railway station, in school, in a grocery store, etc. These are the instances where we need to store a large amount of data in one place and fetch these data easily.

 it is an organized collection of data and information or interrelated data collected at one place.

 Differentiate between SQL and NoSQL databases.

#Type
SQL databases:- are primarily called as Relational Databases (RDBMS)
NoSQL database:- are primarily called as non-relational or distributed database. 

#Property followed
SQL databases:- follow ACID properties (Atomicity, Consistency, Isolation and Durability) 
NoSQL database:- follows the Brewers CAP theorem (Consistency, Availability and Partition tolerance). 

#Structure – 
SQL databases :-are table-based on the other hand 
NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores.

SQL database :-These databases are not suited for hierarchical data storage.
NOSQL database :-These databases are best suited for hierarchical data storage.

#Examples
SQL :-MySQL, PostgreSQL, Oracle, MS-SQL Server, etc
NOSQLdatabase :- MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data.

CREATE:- This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers)

DROP:- This command is used to delete objects from the database.

ALTER:- This is used to alter the structure of the database.

TRUNCATE:- This is used to remove all records from a table, including all spaces allocated for the records are removed.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is short name of Data Manipulation Language which deals with data manipulation and includes most common SQL statements such SELECT, INSERT, UPDATE, DELETE, etc., and it is used to store, modify, retrieve, delete and update data in a database.

INSERT - insert data into a table

UPDATE - updates existing data within a table

DELETE - Delete all records from a database table

Q4. What is DQL? Explain SELECT with an example.

Data Query Language (DQL) :- 
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it.

One of the most important tasks when working with SQL is to generate Queries and retrieve data. A Query is a command given to get a desired result from the database table. The SELECT command is used to query or retrieve data from a table in the database. It is used to retrieve a subset of records from one or more tables. The SELECT command can be used in various forms.

SELECT: It is used to retrieve data from the database.

Q5. Explain Primary Key and Foreign Key.

PRIMARY KEY :-A primary key is used to ensure data in the specific column is unique
FOREIGN KEY:-A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

PRIMARY KEY:-It uniquely identifies a record in the relational database table.
FOREIGN KEY:-It refers to the field in a table which is the primary key of another table.

PRIMARY KEY:-Only one primary key is allowed in a table.	
FOREIGN KEY :-Whereas more than one foreign key are allowed in a table.

PRIMARY KEY :-It is a combination of UNIQUE and Not Null constraints.	
FOREIGN KEY:-It can contain duplicate values and a table in a relational database.

PRIMARY KEY:-It does not allow NULL values.	
FOREIGN KEY :-It can also contain NULL values.

PRIMARY KEY :-Its value cannot be deleted from the parent table.	
FOREIGN KEY :-Its value can be deleted from the child table.

PRIMARY KEY :-It constraint can be implicitly defined on the temporary tables.	
FOREIGN KEY:-It constraint cannot be defined on the local or global temporary tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [3]:
import mysql.connector

In [2]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 75.2 MB/s eta 0:00:0000:010:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp310-cp310-linux_x86_64.whl size=247951 sha256=54241e96d9d154230dbcffde42059691d5ba84d60bd642f7ef7bc26206fd7f80
  Stored in directory: /home/jovyan/.cache/pip/wheels/3e/7f/a3/928a40d1ffd01dd16057f308042377afc505d56145375adf40
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

EXECUTE METHOD
This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation. Specify variables using %s or %(name)s parameter style (that is, using format or pyformat style). execute() returns an iterator if multi is True.

CURSOR METHOD
Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of Performing DML(Data Manipulation Language) operations on Table by User. Cursors are used to store Database Tables. There are 2 types of Cursors: Implicit Cursors, and Explicit Cursors.

Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.