In [1]:
                           #assignment (2feb)

In [2]:
#Q1.
# For loop: is used for sequential traversal. 
#i.e. it is used for iterating over an iterable like String, Tuple, List, Set or Dictionary.
#While Loop: An iteration method that is best used when you donâ€™t know the number of iterations ahead of time.
#The contents of the loop are executed as long as the expression evaluates to true.

In [4]:
l =['sun' , 'moon' , 'star']

In [5]:
l1 = []
for i in l :
    print (i)
    l1.append(i.upper())
l1

sun
moon
star

['SUN', 'MOON', 'STAR']

In [1]:
a = 1
while a <=10:
    print(a)
    a = a+3

1
4
7
10

In [2]:
#Q2.
l=[1,2,3,4,5,6,7,8,9,10]

In [3]:
#sum in for loop
result = 0
for i in l:
    result = result +i
result

55

In [4]:
sum(l)

55

In [6]:
#product in for loop
result = 1
for i in l:
    result = result * i
result

3628800

In [9]:
#product in while loop
number = int(input("enter your number"))
pro = 1
while number >0:
    pro= pro*number
    number = number-1
pro

enter your number 10

3628800

In [36]:
#question 4

In [37]:
l = list(range(1,101))

In [43]:
l2 = []
for i in range(1,101):
     print (i**3)
if((i % 4==0) & (i % 5 ==0)):
    print(l2.append(i))

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000
None

In [16]:
l1=[]
for i in range(1,11,1):
    print (i)
    l1.append(i)
l1

1
2
3
4
5
6
7
8
9
10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
#Q3.

In [21]:
unit= int(input("enter your unit"))
if unit <=100:
    print ( unit*4.5)
elif unit <=200:
    print(unit * 6)
elif unit <= 300:
    print(unit*10)
elif unit >= 300:
    print(unit*20)

enter your unit 310

6200

In [30]:
number =[list(range(1,101,1))]

In [31]:
number

[[1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100]]

In [50]:
#Q5.

In [51]:
string = "I want to become a data scientist"

In [60]:
count = 0
vowels = ["a" , "e" , "i" , "o" , "u"]
for i in string:
    if i in vowels:
        count = count+1
        print(i)

a
o
e
o
e
a
a
a
i
e
i