In [1]:
                                          #assignment-2

In [30]:
#Q1.
marks = int(input('enter your marks'))
if marks > 90 :
    print('A')
elif marks >80:
    print('B')
elif marks >=60 :
    print('C')
else :
    print('D')

enter your marks 92

a

In [33]:
marks = int(input('enter your marks'))
if marks > 90 :
    print('A')
elif marks >80:
    print('B')
elif marks >=60 :
    print('C')
else :
    print('D')

enter your marks 88

B

In [34]:
marks = int(input('enter your marks'))
if marks > 90 :
    print('A')
elif marks >80:
    print('B')
elif marks >=60 :
    print('C')
else :
    print('D')

enter your marks 66

C

In [35]:
marks = int(input('enter your marks'))
if marks > 90 :
    print('A')
elif marks >80:
    print('B')
elif marks >=60 :
    print('C')
else :
    print('D')

enter your marks 45

D

In [40]:
#Q2.
price = int(input('enter your price in rs'))
if price >100000 :
    print('TAX = 15%')
elif price >50000:
    print('TAX = 10%')
else :
    print('TAX = 5%')

enter your price in rs 120000

TAX = 15%

In [42]:
price = int(input('enter your price in rs'))
if price >100000 :
    print('TAX = 15%')
elif price >50000:
    print('TAX = 10%')
else :
    print('TAX = 5%')

enter your price in rs 55000

TAX = 10%

In [43]:
price = int(input('enter your price in rs'))
if price >100000 :
    print('TAX = 15%')
elif price >50000:
    print('TAX = 10%')
else :
    print('TAX = 5%')

enter your price in rs 42000

TAX = 5%

In [56]:
#Q3.
city = input('enter city name')
if city == ('delhi') :
    print('Red Fort')
elif city == ('agra') :
    print('Taj Mahal')
elif city == ('jaipur') :
    print('jal mahal')

enter city name delhi

Red Fort

In [57]:
city = input('enter city name')
if city == ('delhi') :
    print('Red Fort')
elif city == ('agra') :
    print('Taj Mahal')
elif city == ('jaipur') :
    print('jal mahal')

enter city name agra

Taj Mahal

In [58]:
city = input('enter city name')
if city == ('delhi') :
    print('Red Fort')
elif city == ('agra') :
    print('Taj Mahal')
elif city == ('jaipur') :
    print('jal mahal')

enter city name jaipur

jal mahal

In [64]:
#Q3
number = int(input('enter your given number'))
if number == div(3) :
    elif number = <10

SyntaxError: invalid syntax (1280993723.py, line 4)

In [65]:
#Q5.
#The while loop is used when you need your logic repeated until a certain condition is met.
#If you dont have a tidy data structure to iterate through, or you dont have a generator function that drives your processing, you must use while.
a = 20

while a <=50 :
    print(a)
    a = a+2

20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [1]:
#Q6.
n = int(input("enter your number"))
i = 1

while i <=12 :
    result = n*1
    print (n, "*" , i, "=" , result)
    i =i +1

enter your number 22

22 * 1 = 22
22 * 2 = 22
22 * 3 = 22
22 * 4 = 22
22 * 5 = 22
22 * 6 = 22
22 * 7 = 22
22 * 8 = 22
22 * 9 = 22
22 * 10 = 22
22 * 11 = 22
22 * 12 = 22

In [2]:
#Q7.
i = 10
while i>0:
    print(i)
    i= i -1

10
9
8
7
6
5
4
3
2
1